* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'scss/topView/main';
@import 'scss/bottomView/main';
@import 'scss/main/main';
@import 'scss/items/main';
@import 'scss/collections/main';