// $h1TextColor: #FFB400;
// $h1BackgroundColor: #0D2C54;
// $spanTextColor: #FFB400;
// $spanBackgroundColor: #0D2C54;
// $bodyBackgroundColor:#00A6ED;

$h1TextColor: #FFFFFF;
$h1BackgroundColor: #05668D;
$spanTextColor: #FFFFFF;
$spanBackgroundColor: #05668D;
$bodyBackgroundColor:#00A6ED;


h1{
	color:$h1TextColor;
	background-color:$h1BackgroundColor;
	text-align:center;
	padding-top:7px;
	padding-bottom:7px;
	margin-bottom:2px;
}
span {
	font-family: Serif;
	font-size: 200%;

	color:$spanTextColor;
	//background-color:#5555FF;
	text-align:center;
	display:inline-block;
	width:400px;

	background-color:$spanBackgroundColor;
	//height:6vh;

}



.importDatabaseLabel {
	position:fixed;
	top: 3%;
    right:0.5%;
}

.fileInput {
    position:fixed;
    font-size:0px;
    top: 7.25%;
    right:-14%;
}




.exportDatabaseLabel {
	position:fixed;
	top: 3%;
    right:18%;
}
.exportfileInput {
	position:fixed;
    font-size:0px;
    top: 7.25%;
    right:3.5%;
}



.btn-warning {
	position:fixed;
	top: 4.5%;
	left:0%;
}
.exportButton {
	position:fixed;
	top: 3.5%;
	right:0.5%;
}
.importButton {
	position:fixed;
	top: 3.5%;
	right:0.5%;
	width:150px;
}
.importInput{
	position:fixed;
	top: 9%;
	right:5.5%;
}

.exportDatabaseButton {
	position:fixed;
	top: 3.5%;
	right:17%;
	width:150px;
}

.message {
	text-align:center;
	position:fixed;
	top: 50%;
	left:25%;
	width:50%;
	font-family: Serif;
	font-size: 500%;
	color:#990000;
}
.input-group {
	margin: 15px auto;
	width:50%;
}

.btn {
    margin-left: 5px;
}

.contain {
	text-align:center;
	margin: 0 auto;
}

input {
	width: 25vw;
	padding-top: 10px;
}

body{
	background-color:$bodyBackgroundColor;
}

// iframe {
// 	height:400px;
// 	width:800px;
// 	background-color:#5555FF;
// }